
            body {
                background-color: #D2B4DE;
                font-family: "Helvetica Neue", "Arial", sans-serif;
            }
            section {
                background: #E6E6FA;
                width: 60%;
                margin: auto;
                }
               
               .gil {
              width:30%;
              }
             
             .babyaxo {
             width:20%;
             }
                
              
       
      
        
