/*This is for the  whole site*/
body {
    background-color: #E1B0AC;
    font-family: "Helvetica Neue", "Arial", sans-serif;
     margin-top: 80px;
}

section {
    width: 70%;
    margin: auto;
}

/*This is for essays like the corpus analysis */

section.essay {
    width: 90%;
    margin: auto;
    /*background: #F2D4D6;*/
    background:white;
}

     div.container{
  display: flex;
  justify-content: center;
  align-items: center;
      border-style: dashed;
    border-color: whitesmoke;
    background: #F2D4D6;
    margin: auto;
    width:100%;
    /*height:350px;*/

    
    }
    div.container img {
    max-width: 1000px;
    width: 100%;
    
}
figure figcaption {
    text-align: center;
      font-family: "Century Gothic,CenturyGothic,AppleGothic,sans-serif"; 
}



header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
     box-shadow: 0 0 15px 0 black;
     font-family: "Century Gothic,CenturyGothic,AppleGothic,sans-serif"; 
     z-index: 1;
     
}
header * {
    display: inline;
}
header li {
    margin: 20px;
     
}
header li a {
    color: black;
    text-decoration: none;
}

header nav {
margin: auto;
}
   .gallerytext {
        text-align: center;
        background: #F2D4D6;
      
}   
 .box {
      width:500px;
      height: 350px;
  padding-top:5px;
   background: #F2D4D6;
  padding-left:8px;
  padding-bottom:10px;
  position:relative; left:300px; top:150px;
  font-size: 20px;
  text-align: left;
 }
  .portrait {
    float: left;
   position:relative;  top:-350px;
     height: auto; 
    width: auto; 
    max-width: 600px; 
    max-height: 600px;
 
  
  }
  .ResumeHeader {
        text-align: center;
        background: #F2D4D6;
         width: 30%;
        margin: auto;
        }
        .name{
             text-align: center;
        }
      hr {
  height:2px;
  border-width:0;
  background-color:black;
}
.ReflectiveEssayHeader {
        text-align: center;
        }

.reflection {
      width:900px;
      height: 700px;
  padding-top:5px;
   background: #F2D4D6;
  padding-left:15px;
   padding-right:15px;
  padding-bottom:10px;
  position:relative; top: 10px;
  font-size: 20px;
  text-align: left;
 }
div.a {
  text-indent: 50px;
}


